!!! 5
html
  head
    title #{title}
    script(src='/socket.io/socket.io.js')
    script(src='scripts/jquery.js')
    script(src='scripts/js.js')
    script(src='scripts/masterjs.js')
    link(rel="stylesheet", type="text/css", href="/styles/client.css")
  body
    .presentator
      .slides
    .controller
      button.prevslide Previous Slide
      button.nextslide Next Slide
      .maintimer
      .slidetimer
